<div class="main-wrapper">
  <fieldset>
    <legend>Text analyzer</legend>

    <div class="flex-wrapper">
      <div class="flex-container" id="input">
        <div>
          Symbols:
          <span #mySymbols>{{ symbols() }}</span
          >; words : <span #myWords>{{ words() }}</span
          >;
        </div>

        <br />

        <textarea
          placeholder="Englih input"
          (mouseup)="selectText()"
          [(ngModel)]="text"
          #myTextarea
        ></textarea>

        <div class="buttons-wrapper">
          <button (click)="searchSynonyms()">search synonyms</button>
          <button (click)="copyText()">copy text</button>
        </div>
      </div>

      <div class="flex-container">
        <div style="text-align: center">Synonyms result:</div>

        <br />

        <div id="synonym-list" #synonymList>
          @for(synonym of this.synonyms; track synonym){
          <app-synonym
            [synonym]="synonym"
            (synonymClick)="replaceWordWithSynonym($event)"
          >
          </app-synonym>
          } @if(hasNoSynonyms()){
          <p style="text-align: center">NO RESULT</p>
          }
        </div>
      </div>
    </div>
  </fieldset>
</div>
